@media (max-width: 1200px) {
    main {
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        width: 100%;
        align-items: center;

        margin-bottom: 15%;
    }

    main .techs h2 {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        font-size: 6em;
        font-family: 'Montserrat', sans-serif;
        color: #00e0ff;
    }
    
    
    main .techs .cards-container {
        margin-top: 15%;  
    }

    main .wrapper .cols p {
        width: 100%;
        font-size: 0.9em;
    }

    main .techs .cards-container .card {
        width: 150px;
        height: 150px;
        padding: 10px;
    }

}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    header h1 {
        font-size: 2em;
    }

    header nav {
        margin-top: 24px;
    }

    header nav a {
        font-size: 1em;
    }

    main .wrapper .cols h1 {
        font-size: 3.0em;
        font-weight: 900;
        margin-bottom: 20%;
    }

    main .wrapper::before {

        height: 200px;
        width: 200px;

    }
    
    main .wrapper::after {      
        height: 70px;
        width: 70px;
        
    }

    main .imgbox #splash {
        bottom: 0%;
        margin-right: 0%;
        width: 600px;
        
    }

    main .techs .cards-container {
        margin-top: 25%;
    }

    main .techs .cards-container .card {
        width: 100px;
        height: 100px;
    }

    main .techs h2 {
        font-size: 4em;
    }

}